@model List<Product>
<div class="pt-4">
</div>
<div class="pt-2 pb-2">
	<h1>SHOP MANAGEMENT</h1>

</div>

<div class="row">
	<div class="col-3">
		<a class="btn btn-primary" asp-action="Create" asp-area="Admin">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
				<path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
				<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
			</svg> Create NEW Product
		</a>
	</div>
	<form class="d-flex">
		<div class="col-4 " style="margin-left: 65em">
			<a asp-area="admin" asp-controller="ShopManagement" asp-action="Index">
			</a>
				Search Product:
			<input type="text" name="searchString" placeholder="" />
			<input class="btn btn-primary" type="submit" />
		</div>
	</form>
	
	
	@*<div class="col-6">
	<select asp-for="@Model.Title" asp-items="@ViewBag.SelectProduct" class="btn btn-primary">
	<option disabled selected> SELECT CATEGORY </option>
	</select>
	</div>*@
	@*<div class="col-4 border border-1" style="margin-left: 65em">
	<form asp-controller="Home" asp-action="Shop" class="d-flex ">
	<input class="form-control me-sm-2" type="text" accept="string" alt="search" name="searchString" placeholder="Search">
	<button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
	</form>
	</div>*@
</div>

<div class="row pt-4">
	@foreach (var prod in Model)
	{
		<div class="col-lg-3 col-sm-6">
			<div class="row p-2">
				<div class="col-12 p-1">
					<img src="@prod.ImageUrl" width="80%" /> <br>
					@prod.Title <br>
					@prod.Description<br>
					<div class="text-success">
						@prod.Price.ToString("c")
					</div>
					<div class=" pt-2">
						<a class="btn btn-primary" asp-action="Edit" asp-area="Admin" asp-route-productId="@prod.Id">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
								<path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
							</svg> Edit Product
						</a>
					</div>
					<div class=" pt-2">
						<a class="btn btn-danger" asp-action="Delete" asp-area="Admin" asp-route-productId="@prod.Id">
							Delete
						</a>
					</div>
				</div>
			</div>
		</div>
	}
</div>



